.container {
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  font-size: 12px;
}

.container .content-session li {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100vw;
  max-height: 680px;
}

.container .content-session li {
  width: 50vw;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 50px;

  display: flex;
  flex-direction: row;
}

.container .content-session .title-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content-session .title-field .running {
  margin-left: 40px;
}

.above-values div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  justify-content: center;
}

.above-values div span {
  width: 5vw;
}

.last-paper section {
  border: 1px solid black;
  width: 15vw;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 20px;
  margin-top: -10px;
}

.last-paper .top-element {
  display: flex;
  justify-content: space-around;
}

.content-session-graphic {
  width: 50vw;
}

.content-session-graphic div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .daily-balance div {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.daily-balance .content-balance {
  display: flex;
  justify-content: space-around;
  align-self: center;
}